<div class="col-lg-6">
    <div class="mt-3">
        <div class="feature-icon mb-3">
            <i class="icofont-support text-lg"></i>
        </div>
        <span class="h3">Need Assistance?</span>
        <h3 class="text-color mt-3">Contact Us: +315 *****56</h3>
    </div>
    <div>
        <h1 class="text-capitalize mt-3 text-md">Organization Registration Information</h1>
        <p class="lead">Thank you for considering registering your organization for blood donation! Below are the essential details for organization registration:</p>
        <ul class="list-unstyled">
            <li class="mb-3"><i class="icofont-check mr-2"></i>Provide accurate and complete information about your organization</li>
            <li class="mb-3"><i class="icofont-check mr-2"></i>Include the name of the organization, the head of the organization, and contact details</li>
            <li class="mb-3"><i class="icofont-check mr-2"></i>Upload the organization logo for identification purposes</li>
            <li class="mb-3"><i class="icofont-check mr-2"></i>Provide a valid email address for communication</li>
            <li class="mb-3"><i class="icofont-check mr-2"></i>Include the organization's physical address</li>
            <li class="mb-3"><i class="icofont-check mr-2"></i>Ensure the head of the organization is reachable via the provided phone number</li>
            <li class="mb-3"><i class="icofont-check mr-2"></i>Organization profile will be visible upon successful registration</li>
            <li class="mb-3"><i class="icofont-check mr-2"></i>For any queries or clarification regarding the registration process, feel free to contact us.</li>
        </ul>
        <p class="lead">We appreciate your commitment to supporting blood donation initiatives. If you have any questions or need further assistance, please don't hesitate to reach out to us.</p>
    </div>
</div>
