{% extends 'partials/index.html' %}
{% load static %}

{% block title %}
ABOUT
{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}

<section class="section about-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2 class="title-color">Donate Blood, Save Lives</h2>
            </div>
            <div class="col-lg-8">
                <p>Join us in our mission to provide life-saving blood to those in need. Your contribution can make
                    a significant difference in someone's life.</p>
            </div>
        </div>
    </div>
</section>


<section class="fetaure-page">
    <div class="container">
        <h3 class="text-center mb-4 pb-2 title-color fw-bold"><i class="icofont-question-mark"></i> Our Mission</h3>

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="about-block-item mb-5 mb-lg-0">
                    <img src="{% static 'assets/images/about/about-01.jpg' %}" alt="" class="img-fluid w-100">
                    <h4 class="mt-3">Donate Blood</h4>
                    <p>Your blood donation can save lives. Be a hero and donate today!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-block-item mb-5 mb-lg-0">
                    <img src="{% static 'assets/images/about/about-02.jpg' %}" alt="" class="img-fluid w-100">
                    <h4 class="mt-3">Life-Saving Mission</h4>
                    <p>Join our mission to provide a steady supply of safe blood for those in need.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-block-item mb-5 mb-lg-0">
                    <img src="{% static 'assets/images/about/about-03.jpg' %}" alt="" class="img-fluid w-100">
                    <h4 class="mt-3">Community Support</h4>
                    <p>We work with the local community to create a network of voluntary blood donors.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-block-item">
                    <img src="{% static 'assets/images/about/about-04.jpg' %}" alt="" class="img-fluid w-100">
                    <h4 class="mt-3">Donor Benefits</h4>
                    <p>As a blood donor, you enjoy the satisfaction of helping others and various benefits.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Section: Comunnity Partners-->
<section class="fetaure-page">
    <div class="container">
        <h3 class="text-center mb-4 pb-2 title-color fw-bold"><i class="icofont-question-mark"></i> Community Partner
        </h3>
        <div class="row">
            {% for organization in organizations %}
            <div class="col-lg-3 col-md-6">
                <div class=" mb-5 mb-lg-0">
                    <img src="{{ organization.org_logo.url }}" alt="img" class="img-fluid rounded-circle">
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--Section: FAQ-->
<section class="mt-4">
    <div class="container">
        <h3 class="text-center mb-4 pb-2 title-color fw-bold"><i class="icofont-question-mark"></i> FAQ</h3>
        <p class="text-center mb-5">Find the answers for the most frequently asked questions below</p>

        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 title-color"><i class="icofont-login"></i> How do I log in to my account?</h6>
                <p><strong><u>To Login,</u></strong> you need to first sign up. After signing up, you will receive an
                    email containing a verification link. Click on the link to verify your email, and then you can log
                    in using your credentials.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 title-color"><i class="icofont-ui-user"></i> How do I register as a blood donor?</h6>
                <p><strong><u>To register as a blood donor,</u></strong> click on the "Register as Donor" button.
                    Complete the form, ensuring to fill in the box related to your last donation accurately. If you
                    haven't donated blood recently, please provide a date at least 90 days earlier, as profiles with
                    donations within the last 90 days will not be displayed.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 title-color"><i class="icofont-calendar"></i> Why is it important to accurately enter
                    the last donation date?</h6>
                <p>Entering your last donation date accurately is crucial for maintaining transparency and ensuring that
                    potential recipients have the most reliable information about donor eligibility. <strong><u>Profiles
                            with donations within the last 90 days may not be displayed,</u></strong> so providing the
                    correct date is essential for an effective blood donation system.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 title-color"><i class="icofont-ui-edit"></i> What information should I update over time?
                </h6>
                <p><strong><u>It's essential</u></strong> to keep your current city information up-to-date for a better
                    user experience. Additionally, regularly update your last donation date to provide accurate
                    information about your donation history.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 title-color"><i class="icofont-edit"></i> How can I update my information?</h6>
                <p>Log in to your account, go to the profile section, and click on the <strong><u>Edit icon</u></strong>
                    button. From there, you can update your current city and last donation date.</p>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
                <h6 class="mb-3 title-color"><i class="icofont-search"></i> How to Find a Donor?</h6>
                <p>To find a donor on our website, search by city and blood group, click on the chosen donor's profile
                    picture, and use the <strong><u>Contact Me</u></strong> button on their profile page for direct
                    communication without intermediaries.</p>
            </div>
        </div>
    </div>
</section>
<!--Section: FAQ-->
{% endblock body %}
{% block scripts %}
{% endblock scripts %}
