{% extends 'partials/index.html' %}
{% load static %}

{% block title %}
Donor Profile
{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
<section class="section confirmation">
	<div class="container">
	  <div class="row justify-content-center">
		<div class="col-lg-8">
			<div class="confirmation-content text-center">
                <form method="POST">{% csrf_token %}
                        Are you sure you want to delete your profile?
                    <div class="mb-3 pt-5">
                        <a href="{% url 'donorlist' %}" class="btn btn-secondary ">Back</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
			</div>
		</div>
	  </div>
	</div>
  </section>

{% endblock body %}

{% block scripts %}
{% endblock scripts %}