{% extends 'partials/index.html' %}
{% load static %}

{% block title %}
SignUp
{% endblock title %}
{% block css %}
{% endblock css %}

{% block body %}
{% include "partials/messaging_info.html" %}
<section>
    <form id="donor-registration-form" method="post" enctype="multipart/form-data" action="{% url 'signup' %}">
        {% csrf_token %}
        {{ form.non_field_errors }} 
        {{ form.errors }} 
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card">
                        <div class="secondary-bg text-md text-white text-center">Signup</div>
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input name="email" id="email" type="email" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="pass1">Password</label>
                                    <input name="pass1" id="pass1" type="password" class="form-control">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="pass2">Confirm Password</label>
                                    <input name="pass2" id="pass2" type="password" class="form-control">
                                </div>
                            </div>
                            <div class="btn-container">
                                <p class="mb-4">Already have an account? <a href="{% url 'login' %}">Login</a></p>
                                <button type="submit" class="btn btn-main btn-round-full">SignUp</button>
                            </div>
                            <div id="error-message" class="text-danger mt-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

{% block scripts %}
{% endblock scripts %}
{% endblock body %}